/* src/styles.css */
body {
    background-color: #425158;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    background-color: rgb(196, 245, 248) !important;
    color: rgb(228, 30, 30) !important;
    height: 100%;
    width: 2000px;
  }
  
  .sidebar .MuiListItemIcon-root {
    color: rgb(0, 0, 0)
  }
  
  .dashboard-content {
    padding: 20px;
    background: rgb(157, 46, 46);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .MuiPaper-root,
  .css-1gtchvp-MuiPaper-root,
  .css-1lwhjos-MuiPaper-root-MuiDrawer-paper,
  .MuiDrawer-paperAnchorDockedLeft,
  .MuiPaper-rounded,
  .MuiPaper-elevation0,
  .MuiPaper-elevation3{
    background-color: #983838;
  }

  .MuiDrawer-docked{
background-color: #7e7ed5;
  }
  .css-1lwhjos-MuiPaper-root-MuiDrawer-paper{
    background-color: rgb(200, 230, 255) !important;
    /* width: 230px;  USE THIS TO CHANGE THE WIDTH OF THE SIDEBAR, BUT IT WONT COLLAPSE :( */
  }
